@model OvpNgDatabase.Models.OvpNg.ObjectModel

<h5>Добавить новый объект:</h5>
@using (Html.BeginForm("AddObjectModel", "Admin", FormMethod.Post))
{
    <table class="table table-striped">
        <tr>
            <th scope="col">Наименование данных</th>
            <th scope="col">Значение</th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ObjectName)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.ObjectName, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SubObjectId)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.SubObjectId, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Subject)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.Subject, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.CompletionRate)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.CompletionRate, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ConstructionTypeId)</td>
            <td>@Html.DropDownListFor(model => model.ConstructionTypeId, Model.ConstructionTypes, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.StageId)</td>
            <td>@Html.DropDownListFor(model => model.StageId, Model.Stages, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.GeoDistrictId)</td>
            <td>@Html.DropDownListFor(model => model.GeoDistrictId, Model.GeoDataDistricts, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.RegionName)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.RegionName, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Identifier)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.Identifier, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ObjectStart)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.ObjectStart, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ObjectFinish)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.ObjectFinish, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ObjectStart)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.ConstructionStart, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ConstructionFinish)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.ConstructionFinish, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DesignStart)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.DesignStart, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DesignFinish)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.DesignFinish, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.IsHaveCalculations)</td>
            <td>@Html.CheckBoxFor(objectModel => objectModel.IsHaveCalculations, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.OwnerId)</td>
            <td>@Html.DropDownListFor(model => model.OwnerId, Model.Companies, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.InvestorId)</td>
            <td>@Html.DropDownListFor(model => model.InvestorId, Model.Companies, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.InvestorDepartmentId)</td>
            <td>@Html.DropDownListFor(model => model.InvestorDepartmentId, Model.Companies, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.GeneralContractorId)</td>
            <td>@Html.DropDownListFor(model => model.GeneralContractorId, Model.Companies, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.GeneralDesignerId)</td>
            <td>@Html.DropDownListFor(model => model.GeneralDesignerId, Model.Companies, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DesignerId)</td>
            <td>@Html.DropDownListFor(model => model.DesignerId, Model.Companies, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ConstructorId)</td>
            <td>@Html.DropDownListFor(model => model.ConstructorId, Model.Companies, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.NonDependentControllerId)</td>
            <td>@Html.DropDownListFor(model => model.NonDependentControllerId, Model.Companies, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ContractorId)</td>
            <td>@Html.DropDownListFor(model => model.ContractorId, Model.Companies, new { @class = "dropdown-item", @style = "border: 1;" })</td>
        </tr>
    </table>
    <div class="row h-100 justify-content-center align-items-center">
        <button class="btn btn-primary btn-outline-success align-content-center" type="submit">Добавить</button>
    </div>
}