@using OvpNgDatabase.Models.OvpNg
@model List<ConstructionType>
@{
    ViewBag.Title = "Администрирование базы данных";
}

<h3 class="m-3">@ViewBag.Title</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            @Html.Partial("_AdminMenu")
        </div>
        <div class="col-sm">
            @Html.Partial("_AddConstructionType", new ConstructionType())
        </div>
    </div>
</div>
<h5 class="mt-4">Существующие виды строительства:</h5>
<table class="table table-striped">
    <thead class="thead-blue">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model[0].Id)</th>
            <th scope="col">@Html.DisplayNameFor(model => model[0].Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model[0].CreatedAt)</th>
            <th scope="col">@Html.DisplayNameFor(model => model[0].CreatedBy)</th>
            <th scope="col">@Html.DisplayNameFor(model => model[0].LastEditAt)</th>
            <th scope="col">@Html.DisplayNameFor(model => model[0].LastEditBy)</th>
            <th scope="col">Редактировать</th>
            <th scope="col">Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var constructionType in Model)
        {
            <tr>
                <td>@Html.DisplayTextFor(constructionTypeItem => constructionType.Id)</td>
                <td>@Html.DisplayTextFor(constructionTypeItem => constructionType.Name)</td>
                <td>@Html.DisplayTextFor(constructionTypeItem => constructionType.CreatedAt)</td>
                <td>@Html.DisplayTextFor(constructionTypeItem => constructionType.CreatedBy)</td>
                <td>@Html.DisplayTextFor(constructionTypeItem => constructionType.LastEditAt)</td>
                <td>@Html.DisplayTextFor(constructionTypeItem => constructionType.LastEditBy)</td>

                @using (Html.BeginForm("GetEditConstructionType", "Admin", FormMethod.Get))
                {
                    <td>
                        <button class="btn btn-primary btn-outline-primary" name="id" value="@constructionType.Id" type="submit">Редактировать</button>
                    </td>
                }
                @using (Html.BeginForm("DeleteConstructionType", "Admin", FormMethod.Post))
                {
                    <td>
                        @Html.HiddenFor(constructionTypeItem => constructionType.Id)
                        <button class="btn btn-primary btn-outline-danger" type="submit">Удалить</button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>