@model OvpNgDatabase.Models.OvpNg.GeoData

<h5 class="mt-4">Редактировать регион</h5>
@using (Html.BeginForm("EditGeoData", "Admin", FormMethod.Post))
{
    <table class="table table-striped">
        <tr>
            <th scope="col">Наименование данных</th>
            <th scope="col">Значение</th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.District)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.District, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Region)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.Region, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Identifier)</td>
            <td>@Html.TextBoxFor(objectModel => objectModel.Identifier, new { @class = "form-control" })</td>
        </tr>
    </table>
    <div class="row h-100 justify-content-center align-items-center">
        @Html.HiddenFor(objectModel => objectModel.Id)
        <button class="btn btn-primary btn-outline-success align-content-center" type="submit">Обновить</button>
    </div>
}