@using OvpNgDatabase.Models.OvpNg
@model List<GeoDataDistrict>
@{
    ViewBag.Title = "Администрирование базы данных";
}

<h3 class="m-3">@ViewBag.Title</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            @Html.Partial("_AdminMenu")
        </div>
        <div class="col-sm">
            <h5 class="mt-4">Существующие регионы:</h5>
            <table class="table table-striped">
                <thead class="thead-blue">
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(model => model[0].Id)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model[0].Name)</th>
                        <th scope="col">Редактировать</th>
                        <th scope="col">Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var geoData in Model)
                    {
                        <tr>
                            <td>@Html.DisplayTextFor(geoDataItem => geoData.Id)</td>
                            <td>@Html.DisplayTextFor(geoDataItem => geoData.Name)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
